.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* Parámetros para la sección del encabezado */
}
.header_logo {
  width: 100%;
  height: 100%;
  background-image: url(../assets/logo.png);
  background-size: cover;
  background-position: center;
  /* Parámetros para la imagen del logo */
}
/* Aquí tenemos dos ejemplos de selectores para
recordarte cómo configurar los estilos de los elementos*/
.header__square-pic {
  height: 568px;
  width: 568px;
}